components:
  schemas:
    Poll:
      type: object
      properties:
        id:
          type: string
          example: poll_123
        question:
          type: string
          example: "Hva skal vi spise?"
        options:
          type: array
          items:
            $ref: "#/components/schemas/PollOption"
      required:
        - id
        - question
        - options

    PollOption:
      type: object
      properties:
        id:
          type: string
          example: opt_1
        text:
          type: string
          example: Pizza
      required:
        - id
        - text

    CreatePollRequest:
      type: object
      properties:
        question:
          type: string
          example: "Hva skal vi spise?"
        options:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
                example: Pizza
            required:
              - text
      required:
        - question
        - options

    VoteRequest:
      type: object
      properties:
        optionId:
          type: string
          example: opt_1
      required:
        - optionId

    VoteResponse:
      type: object
      properties:
        vote:
          type: object
          properties:
            pollId:
              type: string
              example: poll_123
            optionId:
              type: string
              example: opt_1
          required:
            - pollId
            - optionId

    PollResultItem:
      type: object
      properties:
        optionId:
          type: string
          example: opt_1
        text:
          type: string
          example: Pizza
        votes:
          type: integer
          example: 3
      required:
        - optionId
        - votes

    PollResults:
      type: object
      properties:
        pollId:
          type: string
          example: poll_123
        results:
          type: array
          items:
            $ref: "#/components/schemas/PollResultItem"
      required:
        - pollId
        - results
